@import "@deep-design-lab/ui/theme.css";
@source "../../experiments/**/*.{ts,tsx}";
@source "../../ui/**/*.{ts,tsx}"; /* Any components in ui package*/

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-variant-numeric: tabular-nums;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}